<div class = "body">
    <mat-card>
  <input style = "display: none;" type = "file" (change) = "onFileUpload($event)" #fileInputHandler/>
  <form [formGroup] = "firmwareFormGroup" fxFlexOffset.gt-xs = "30%" fxFlex.gt-xs = "40%">
      <div>
          <button style = "margin-left:40%;background-color: teal"mat-raised-button  type = "button" (click) = "fileInputHandler.click()">select file</button>
      </div>
    <div>
        <label for = "filename">filename</label><br>
        <mat-form-field>
            <input class = "input" matInput type = "text" formControlName = "filename"/>
        </mat-form-field>
    </div>
    <div>
        <label for = "type">type</label><br>
        <mat-form-field>
           <input class = "input" matInput type = "text" formControlName = "type"/>
        </mat-form-field>
    </div>
    <div>
        <label for = "version">version</label><br>
        <mat-form-field>
         <input class = "input" matInput type = "text" placeholder = "1.2.1" formControlName = "version" required/>
        </mat-form-field>
    </div>
    <div>
        <label for = "model">device model</label><br>
        <mat-form-field>
        <input class = "input" matInput type = "text" placeholder = "saral infotech" formControlName = "model" required/>
        </mat-form-field>
    </div>
    <div>
        <button [disabled] = "firmwareFormGroup.status === 'INVALID'" mat-raised-button style = "background-color:teal;">upload</button>
    </div>
  </form>
</mat-card>
</div>