.matcard{
  margin:5px;
  height:15vh;
}
.card-header-image{

}
.test{
}
.mifare{
}
.charts-container{
  margin-top:20px;
}
.linechart{
  margin:5px;

}
.device-line-chart{

}
@media only screen and(max-device-width:640px){
  .device-line-chart{
    height:30vh;
  }
}
